@using ElsaMina.Commands.ConnectFour
@using ElsaMina.Core.Templates
@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.ConnectFour.ConnectFourGameTableModel>

@{
    const string cellStyle = $"border: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR};";
    const string cellStyleWithBg = $"border: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR}; background-color: {StyleConstants.PRIMARY_BACKGROUND_COLOR};";
}
<table
    style="border-collapse: collapse; width: 100%">
    <thead>
    <tr>
        <th style="@cellStyleWithBg">
            Grille
        </th>
        <th style="@cellStyleWithBg">
            Infos
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td style="@cellStyle">
            @{ await IncludeAsync("ConnectFour/ConnectFourGrid", new ConnectFourGridModel
               {
                   Culture = Model.Culture,
                   CurrentGame = Model.CurrentGame,
                   Trigger = Model.Trigger,
                   BotName = Model.BotName,
                   RoomId = Model.RoomId
               }); }
        </td>
        <td style="padding: 20px; @cellStyle">
            <span style="font-weight: bold;">@GetString("c4_game_name")</span><br/>
            <span>@GetString("c4_game_rules", ConnectFourConstants.WINNING_LENGTH)</span><br/>
            <span>@GetString("c4_game_current_turn", Model.CurrentGame.PlayerCurrentlyPlaying.Name, Model.CurrentGame.CurrentPlayerSymbol)</span><br/>
            <span>@GetString("c4_game_how_to_play")</span><br/>
            <span>@GetString("c4_game_timeout", ConnectFourConstants.TIMEOUT_DELAY.Seconds)</span><br/>
            <span>@GetString("c4_game_players", Model.CurrentGame.PlayerNames)</span><br/>
            <span>@GetString("c4_game_turn", Model.CurrentGame.TurnCount)</span><br/>
            <span>@GetString("c4_game_party_id", ConnectFourGame.GameId)</span>
            <br/><br/>
            <details>
                <summary>@GetString("c4_game_options")</summary>
                <br/>
                <button
                    class="button"
                    value="/pm @Model.BotName,@(Model.Trigger)c4ff @Model.RoomId"
                    name="send">
                    @GetString("c4_game_forfeit")
                </button>
            </details>
        </td>
    </tr>
    </tbody>
</table>