@using ElsaMina.Commands.ConnectFour
@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.ConnectFour.ConnectFourGameTableModel>

<table
    style="border-collapse: collapse; width: 100%">
    <tr>
        <th>
            Grille
        </th>
        <th>
            Infos
        </th>
    </tr>

    <tr>
        <td>
            @{ await IncludeAsync("ConnectFour/ConnectFourGrid", new ConnectFourGridModel 
               {
                   Culture = Model.Culture,
                   CurrentGame = Model.CurrentGame,
                   Trigger = Model.Trigger,
                   BotName = Model.BotName
               });
            }
        </td>
        <td>
            <b>@GetString("c4_game_name")</b>
            <p>@GetString("c4_game_rules", ConnectFourConstants.WINNING_LENGTH)</p>
            <p>@GetString("c4_game_current_turn", Model.CurrentGame.PlayerCurrentlyPlaying, Model.CurrentGame.CurrentPlayerSymbol)</p>
            <p>@GetString("c4_game_how_to_play")</p>
            <p>@GetString("c4_game_timeout", ConnectFourConstants.TIMEOUT_DELAY.Seconds)</p>
            <p>@GetString("c4_game_players", string.Join(GetString("vs"), Model.CurrentGame.Players))</p>
            <p>@GetString("c4_game_turn", Model.CurrentGame.TurnCount)</p>
            <p>@GetString("c4_game_party_id", ConnectFour.GameId)</p>
        </td>
    </tr>
</table>