@using ElsaMina.Core.Services.Templates
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.RoomDashboard.RoomDashboardViewModel>

@{
    const string tableStyle = "border-collapse: collapse; width: 100%;";
    const string headerStyle = $"border: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR};" +
                               "text-align: center;" +
                               "padding: 0px;" +
                               "height: 1px;" +
                               "text-align: center;" +
                               $"background-color: {StyleConstants.PRIMARY_BACKGROUND_COLOR};";
}

<form
    style="padding: 2rem;"
    data-submitsend="@Model.Command">
    <table style="@tableStyle">
        <thead>
        <tr style="@headerStyle">
            <th colspan="2">
                <h1>@GetString("room_dashboard", Model.RoomName)</h1>
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (var parameterModel in Model.RoomParameterLines)
        {
            <div>
                @{
                    await IncludeAsync("RoomDashboard/RoomParameterLine", parameterModel);
                }
            </div>
        }
        </tbody>
    </table>

    <br/><br/>
    <button
        class="button"
        type="submit">
        @GetString("submit")
    </button>
</form>