@using ElsaMina.Core.Services.Rooms
@using ElsaMina.Core.Services.Rooms.Parameters
@using ElsaMina.Core.Services.Templates
@using ElsaMina.Core.Utils
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.RoomDashboard.RoomParameterLineModel>

@{
    const string cellStyle = $"border: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR};" +
                             $"text-align: center;" +
                             $"padding: .25rem";
}
<tr>
    <td style="@cellStyle">
        <label for="@Model.RoomParameterDefinition.Identifier">
            <h3>
                @GetString(Model.RoomParameterDefinition.NameKey)
            </h3>
            <span>
                @GetString(Model.RoomParameterDefinition.DescriptionKey)
            </span>
        </label>
    </td>
    <td style="@cellStyle">
        @switch (Model.RoomParameterDefinition.Type)
        {
            case RoomBotConfigurationType.Enumeration:
            {
                <select
                    name="@Model.RoomParameterDefinition.Identifier"
                    id="@Model.RoomParameterDefinition.Identifier">
                    @foreach (var option in Model.RoomParameterDefinition.PossibleValues)
                    {
                        <option
                            value="@option.InternalValue"
                            @(string.Equals(option.InternalValue, Model.CurrentValue, StringComparison.InvariantCultureIgnoreCase) ? "selected" : string.Empty)>
                            @option.DisplayedValue
                        </option>
                    }
                </select>
                break;
            }
            case RoomBotConfigurationType.Boolean:
                <input
                    type="checkbox"
                    id="@Model.RoomParameterDefinition.Identifier"
                    name="@Model.RoomParameterDefinition.Identifier"
                    @(Model.CurrentValue.ToBoolean() ? "checked" : string.Empty)/>
                break;
            case RoomBotConfigurationType.String:
                <input
                    type="text"
                    id="@Model.RoomParameterDefinition.Identifier"
                    name="@Model.RoomParameterDefinition.Identifier"
                    value="@Model.CurrentValue"/>
                break;
        }
    </td>
</tr>