@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.GuessingGame.GuessingGameResultViewModel>

<div>
    <h4>@GetString("guessing_game_result_ended")</h4>

    @if (Model.Scores.Count != 0)
    {
        <span style="text-decoration: underline">@GetString("guessing_game_final_scores"):</span>
        <br/>

        var i = 1;
        foreach (var score in Model.Scores)
        {
            <span>
                @(i++). @score.Key (@score.Value @GetString("guessing_game_point")@(score.Value == 1 ? string.Empty : "s"))
            </span>
            <br/>
        }
    }
</div>