@using ElsaMina.Core.Templates
@using ElsaMina.Core.Utils
@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.Badges.HallOfFame.HallOfFameViewModel>

@{
    const string headerStyle = $"border-bottom: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR}; padding: 4px";
}

<div style="max-height: 240px; overflow-y: auto">
    <table
        style="margin: auto; border: 1px solid @StyleConstants.PRIMARY_BORDER_COLOR; border-radius: 12px; padding: 4px">
        <thead>
        <tr>
            <th scope="col" style="@headerStyle">@GetString("hall_of_fame_rank")</th>
            <th scope="col" style="@headerStyle">@GetString("hall_of_fame_user")</th>
            <th scope="col" style="@headerStyle">@GetString("hall_of_fame_total")</th>
            <th scope="col" style="@headerStyle">@GetString("hall_of_fame_trophies_header")</th>
        </tr>
        </thead>
        <tbody>
        @{
            var rank = 1;
            var innerRank = 1;
            (int TotalCount, int SoloCount) prevCounts = (-1, -1);
        }
        @foreach (var entry in Model.SortedPlayerRecords)
        {
            if (prevCounts.TotalCount != entry.Total || prevCounts.SoloCount != entry.Solo)
            {
                rank = innerRank;
            }

            <tr>
                <td style="text-align: center">@rank</td>
                <td style="text-align: center">
                    <span
                        class="username"
                        data-name="@entry.UserId"
                        style="color: @entry.UserId.ToColorHexCodeWithCustoms(); font-weight: bold">
                        @entry.UserName
                    </span>
                </td>
                <td style="text-align: center">
                    @entry.Total @GetString("hall_of_fame_trophies", entry.Total == 1 ? string.Empty : "s") (@entry.Solo @GetString("hall_of_fame_solo"), @entry.Team @GetString("hall_of_fame_team"))
                </td>
                <td style="text-align: center">
                    @foreach (var badge in entry.Badges)
                    {
                        await IncludeAsync("Badges/Badge", badge);
                    }
                </td>

            </tr>
            prevCounts = (entry.Total, entry.Solo);
            innerRank++;
        }
        </tbody>
    </table>
</div>