@using ElsaMina.Core.Templates
@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.Replays.ReplayPreviewViewModel>;

<table
    role="presentation"
    style="width: 100%; text-align: left; border: 1px solid @StyleConstants.PRIMARY_BORDER_COLOR; border-radius: 12px;">
    <tbody>
    @for (var i = 0; i < Model.Players.Count; i += 2)
    {
        var p1 = Model.Players[i];
        var p2 = i + 1 < Model.Players.Count ? Model.Players[i + 1] : null;

        <tr>
            <td style="text-align: left;">
                <i>@p1.Name</i>
            </td>
            <td style="text-align: right;">
                @if (p2 != null)
                {
                    <i>@p2.Name</i>
                }
            </td>
        </tr>
        <tr>
            <td style="text-align: start;">
                @foreach (var species in p1.Team)
                {
                    <psicon style="float: left;" pokemon="@species"/>
                }
            </td>
            <td style="text-align: end;">
                @if (p2 != null)
                {
                    @foreach (var species in p2.Team)
                    {
                        <psicon style="float: right;" pokemon="@species"/>
                    }
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">
            <span>
                <b>@GetString("format"):&nbsp;</b> @Model.Format &nbsp;
                <b>@GetString("date"):&nbsp;</b> @Model.Date.ToString("d", Model.Culture) &nbsp;
                <b>@GetString("views"):&nbsp;</b> @Model.Views &nbsp;
                @if (Model.Rating != 0)
                {
                    <b>@GetString("rating"):&nbsp;</b>
                    @Model.Rating
                }
            </span>
        </td>
    </tr>
    </tbody>
</table>