@using ElsaMina.Core.Utils
@inherits RazorLight.TemplatePage<ElsaMina.Core.Templates.LanguageSelect.LanguagesSelectViewModel>

<select name="@Model.Name" id="@Model.Id">
    @foreach (var culture in Model.Cultures)
    {
        <option
            value="@culture.Name"
            @(Equals(culture, Model.Culture) ? "selected" : "")>
            @culture.NativeName.Capitalize()
        </option>
    }
</select>
