@using ElsaMina.Core.Services.Templating
@model ElsaMina.Core.Templates.Commands.CommandListViewModel

<div style="padding: 1rem;">
    @foreach (var command in Model.Commands)
    {
        <span style="font-weight: bold">
            @command.CommandName
        </span>
        @if (command.CommandAliases.Any())
        {
            <span>
                &mdash; @I18N.S(Model.Culture, "allcommands_alias") : @string.Join(", ", command.CommandAliases)
            </span>
        }
        @if (command.IsAllowedInPm)
        {
            <span>(@I18N.S(Model.Culture, "allcommands_allowed_in_pm"))</span>
        }
        @if (command.IsWhitelistOnly)
        {
            <span>(@I18N.S(Model.Culture, "allcommands_wl_only"))</span>
        }
        @if (command.IsPrivateMessageOnly)
        {
            <span>(@I18N.S(Model.Culture, "allcommands_pm_only"))</span>
        }
        <div>
            @I18N.S(Model.Culture, "allcommands_required_rank") : @command.RequiredRank
        </div>
        @if (!string.IsNullOrEmpty(command.HelpMessageKey))
        {
            <div>
                @I18N.S(Model.Culture, command.HelpMessageKey)
            </div>
        }
        <br />
    }
</div>