@using ElsaMina.Commands.Teams
@using ElsaMina.Core.Services.Templates
@using Newtonsoft.Json
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Teams.SampleTeamViewModel>

@{
    const string cellStyle = "text-align: center;" +
                             $"background-color: {StyleConstants.PRIMARY_BACKGROUND_COLOR};" +
                             "margin: 4px;" +
                             "padding: 8px;" +
                             "width: 250px;" +
                             "height: 104px;" +
                             "float: left;" +
                             $"border: 1px solid {StyleConstants.PRIMARY_BORDER_COLOR};" +
                             "border-radius: 4px;";
    var i = 0;
    var sets = JsonConvert.DeserializeObject<IEnumerable<PokemonSet>>(Model.Team.TeamJson);
}

<a
    style="text-decoration: inherit; color: inherit;"
    href="@Model.Team.Link">
    <div
        style="@cellStyle">
        @foreach (var set in sets)
        {
            <psicon pokemon="@set.Species" />
            @if (++i >= 6)
            {
                break;
            }
        }
        <br />
        <b>
            @Model.Team.Name
        </b>
        <br />
        <small style="font-style: italic;">
            @GetString("sample_team_description",
                Model.Team.Author,
                Model.Team.CreationDate.ToLocalTime().ToString("d", Model.Culture))
        </small>
        <br />
        <small style="font-style: italic;">
            @GetString("sample_team_info",
                string.Join(',', Model.Team.Rooms.Select(roomTeam => roomTeam.RoomId)),
                Model.Team.Format)
        </small>
    </div>
</a>