@using ElsaMina.Commands.Teams
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Teams.TeamPreviewViewModel>

<span>
    @GetString("team_preview_title", Model.Sender)
</span>
@if (!string.IsNullOrEmpty(Model.Author))
{
    <span>
        @GetString("team_preview_author", Model.Author)
    </span>
}
<span>
    &mdash; <small>@GetString("team_preview_click_icons")</small>
</span>
@{
    var teamMembersCount = Math.Min(Model.Team.Count(), 6);
}
<details>
    <summary>
        @for (var i = 0; i < teamMembersCount; i++)
        {
            var set = Model.Team.ElementAt(i);
            <psicon pokemon="@set.Species" />
        }
    </summary>
    
    <table role="presentation">
        @for (var i = 0; i < teamMembersCount; i += 2)
        {
            var set1 = Model.Team.ElementAtOrDefault(i);
            var set2 = Model.Team.ElementAtOrDefault(i + 1);
            <tr>
                @if (set1 != null)
                {
                    set1.Name = null;
                    <td style="padding: 0 4px;">
                        <span style="white-space: pre-line;">
                           @ShowdownTeams.GetSetExport(set1).Trim()
                        </span>
                    </td>
                }
                @if (set2 != null)
                {
                    set2.Name = null;
                    <td style="padding: 0 4px;">
                        <span style="white-space: pre-line;">
                            @ShowdownTeams.GetSetExport(set2).Trim()
                        </span>
                    </td>
                }
            </tr>
        }
    </table>
</details>
