@using ElsaMina.Core.Templates
@using ElsaMina.Core.Utils
@inherits LocalizableTemplatePage<ElsaMina.Commands.Misc.Colors.NameColorInfoViewModel>

<span style="color: @Model.Color.ToHexString(); font-weight: bold;">
    @Model.Name
</span>
&nbsp;
<span>
    | @Model.Color.ToHexString() | @Model.Color.ToRgbString() | @Model.Color.ToHslString()
</span>
@if (Model.OriginalColor != null)
{
    <br/>
    <span>
        @{
            var ogColor = Model.OriginalColor.Value;
        }
        Original:
        <span style="color: @ogColor.ToHexString(); font-weight: bold;">
            @Model.Name
        </span>
        <span>
            | @ogColor.ToHexString() | @ogColor.ToRgbString() | @ogColor.ToHslString()
        </span>
    </span>
}