@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.Development.Commands.CommandListViewModel>

<div style="padding: 1rem;">
    @foreach (var command in Model.Commands)
    {
        <span style="font-weight: bold">
            @command.CommandName
        </span>
        @if (command.CommandAliases.Any())
        {
            <span>
                &mdash; @GetString("allcommands_alias") : @string.Join(", ", command.CommandAliases)
            </span>
        }
        @if (command.IsAllowedInPrivateMessage)
        {
            <span>(@GetString("allcommands_allowed_in_pm"))</span>
        }
        @if (command.IsWhitelistOnly)
        {
            <span>(@GetString("allcommands_wl_only"))</span>
        }
        @if (command.IsPrivateMessageOnly)
        {
            <span>(@GetString("allcommands_pm_only"))</span>
        }
        <div>
            @GetString("allcommands_required_rank") : @command.RequiredRank
        </div>
        @if (!string.IsNullOrEmpty(command.HelpMessageKey))
        {
            <div>
                @GetString(command.HelpMessageKey)
            </div>
        }
        <br />
    }
</div>