@inherits ElsaMina.Core.Templates.LocalizableTemplatePage<ElsaMina.Commands.Repeats.List.RepeatsListViewModel>

<table>
    <thead>
    <tr>
        <th>@GetString("repeat_message")</th>
        <th>@GetString("repeat_delay")</th>
        <th>@GetString("repeat_actions")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var repeat in Model.Repeats)
    {
        <tr>
            <td>
                @repeat.Message
            </td>
            <td>
                @repeat.Interval.TotalMinutes
            </td>
            <td>
                <button
                    class="button"
                    name="send"
                    value="/w @Model.BotName,@(Model.Trigger)stoprepeat @repeat.RepeatId">
                    <i class="fa fa-trash"></i>&nbsp; @GetString("repeat_stop")
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>