@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Arcade.Slots.SlotsFunViewModel>

<div style="background: #000000; padding: 5px; border-radius: 5px; text-align: center;">
     <img src="https://i.imgur.com/p2nObtE.gif" width="300" height="70" alt="Slots">
     <br/>
    <img style="padding: 3px; border: 1px inset gold; border-radius: 5px; box-shadow: inset 1px 1px 5px white;"
         src="@Model.SlotImageOne" width="80" height="80" alt="Sprite">&nbsp;&nbsp;&nbsp;
    <img style="padding: 3px; border: 1px inset gold; border-radius: 5px; box-shadow: inset 1px 1px 5px white;"
         src="@Model.SlotImageTwo" width="80" height="80" alt="Sprite">&nbsp;&nbsp;&nbsp;
    <img style="padding: 3px; border: 1px inset gold; border-radius: 5px; box-shadow: inset 1px 1px 5px white;"
         src="@Model.SlotImageThree" width="80" height="80" alt="Sprite">
    <span style="color: white;"><br/>
        <b><span style="color: @Model.UserColor">@Model.UserName</span></b> @Model.OutcomeMessage
</span>
</div>
