{% include 'styling' %}

{% assign profile_td_style = "border: 1px solid #68A; text-align: center; padding: 4px;" %}
{% assign profile_th_style = profile_td_style | append: "text-decoration: underline; font-weight: bold;" %}
{% assign profile_td_style_no_padding = "border: 1px solid #68A; text-align: center; padding: 0px;" %}
{% assign profile_tr_style = profile_td_style_no_padding | append: "height: 1px; text-align: center;" | append: "background-color:" | append: background_trans_blue %}
{% assign profile_avatar_cell_style = profile_td_style_no_padding | append: "width: 80px;" %}
{% assign profile_badges_cell_style = profile_td_style | append: "width: 56px;" %}
{% assign profile_table_style = "border-collapse: collapse; width: 100%;" %}
{% assign profile_username_style = "font-weight: bold; font-style: italic; padding: 15px 2px 15px 2px; color: %s;" %}
{% assign profile_tr_row_style = profile_td_style | append: "height: 1px; text-align: left;" | append: "background-color:" | append: background_trans_blue %}

<table
    style="{{ profile_table_style }}">
    <thead>
        <tr style="{{ profile_tr_style }}">
            <th style="{{ profile_th_style }}">
                Avatar
            </th>
            <th style="{{ profile_th_style }}">
                Infos
            </th>
            <th style="{{ profile_th_style }}">
                Badges
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="{{ profile_avatar_cell_style }}">
                <img
                    width="80"
                    height="80"
                    src="https://play.pokemonshowdown.com/sprites/trainers/sightseerf.png"
                    alt="Avatar" />
            </td>
            <td style="{{ profile_td_style }}">
                <span
                    class="username"
                    data-name="panur"
                    style="{{ profile_username_style }}">
                    Panur
                </span>
            </td>
            <td style="{{ profile_badges_cell_style }}">
                <img
                    src="https://www.smogon.com/media/community/awards/spl.png"
                    width="16"
                    height="16"
                    alt="Trophy"
                    style="margin-left: 2px;" />
            </td>
        </tr>
        <tr>
            <td
                style="{{ profile_tr_row_style }}"
                colspan="3">
                this is my bio
            </td>
        </tr>
    </tbody>
</table>
