{% include 'styling' %}

{% assign dashboard_table_style = "border-collapse: collapse; width: 100%;" %}
{% assign dashboard_header_style = "border: 1px solid #68a; text-align: center; padding: 0px; height: 1px; text-align: center; background-color: " | append: background_trans_blue | append: ";" %}
{% assign dashboard_cell_style = "border: 1px solid #68a; text-align: center; padding: .25rem" %}

<form
    style="padding: 2rem;"
    id="locale"
    data-submitsend="/w {{ bot_name }},{{ trigger }}rc {{ room_parameters.id }},{locale},{errors},{autocorrect}">
    <table style="{{ dashboard_table_style }}">
        <thead>
            <tr style="{{ dashboard_header_style }}">
                <th colspan="3">
                    <h1>
                        {{ "room_dashboard" | localize: culture, room_name }}
                    </h1>
                </th>
            </tr>
        </thead>
        
        <!-- Locale selection -->
        <tbody>
            <tr>
                <td style="{{ dashboard_cell_style }}">
                    <label for="locale">
                        {{ "dashboard_locale_name" | localize: culture }}
                    </label>
                </td>
                <td style="{{ dashboard_cell_style }}">
                    {% include 'languageselect' %}
                </td>
                <td style="{{ dashboard_cell_style }}">
                    {{ "dashboard_locale_description" | localize: culture }}
                </td>
            </tr>

            <!-- Errors checkbox -->
            <tr>
                <td style="{{ dashboard_cell_style }}">
                    <label for="errors">
                        {{ "dashboard_errors_name" | localize: culture }}
                    </label>
                </td>
                <td style="{{ dashboard_cell_style }}">
                    <input
                        {% if room_parameters.is_showing_error_messages %} checked{% endif %}
                        type="checkbox"
                        id="errors"
                        name="errors" />
                </td>
                <td style="{{ dashboard_cell_style }}">
                    {{ "dashboard_errors_description" | localize: culture }}
                </td>
            </tr>
        </tbody>

        <!-- Autocorrect checkbox -->
        <tr>
            <td style="{{ dashboard_cell_style }}">
                <label for="autocorrect">
                    {{ "dashboard_autocorrect_name" | localize: culture }}
                </label>
            </td>
            <td style="{{ dashboard_cell_style }}">
                <input
                    {% if room_parameters.is_command_autocorrect_enabled %} checked{% endif %}
                    type="checkbox"
                    id="autocorrect"
                    name="autocorrect" />
            </td>
            <td style="{{ dashboard_cell_style }}">
                {{ "dashboard_autocorrect_description" | localize: culture }}
            </td>
        </tr>
    </table>
    
    <br /><br />
    <button
        class="button"
        type="submit">
        {{ "submit" | localize: culture }}
    </button>
</form>
