@using ElsaMina.Core.Services.Templating
@using ElsaMina.Core.Utils
@inherits RazorLight.TemplatePage<ElsaMina.Core.Templates.Profile.ProfileViewModel>
<table>
    <thead>
        <tr>
            <th>
                Avatar
            </th>
            <th>
                Infos
            </th>
            <th>
                Badges
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img
                    width="80"
                    height="80"
                    src="@Model.Avatar"
                    alt="Avatar" />
            </td>
            <td>
                <span
                    class="username"
                    data-name="@Model.UserId"
                    style="font-weight: bold; font-style: italic; padding: 15px 2px; color: @Model.UserId.ToHexColor();">
                    @Model.UserName
                </span>
                @{
                    var rankNameKey = Model.UserRoomRank switch {
                        '#' => "rank_owner",
                        '*' => "rank_bot",
                        '@' => "rank_mod",
                        '^' => "rank_prizewinner",
                        '%' => "rank_driver",
                        '+' => "rank_voice",
                        _ => string.Empty
                    };
                }
                @if (!string.IsNullOrEmpty(rankNameKey))
                {
                    <p>(@I18N.S(Model.Culture, rankNameKey))</p>
                }
                <br />
                @if (!string.IsNullOrEmpty(Model.Status))
                {
                    <b>Status:</b> @Model.Status
                }
                <br />
                
            </td>
            <td>
                <img
                    src="https://www.smogon.com/media/community/awards/spl.png"
                    width="16"
                    height="16"
                    alt="Trophy" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                this is my bio
            </td>
        </tr>
    </tbody>
</table>
